# Dependencies
node_modules

# Build
dist
*.local
tsconfig.tsbuildinfo

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local

# Capacitor
android/.gradle
android/app/build
android/build
android/capacitor.build.json

GDD.pdf
*.bak
msg.txt